.abbr{
	transform: rotate(120deg);
	-webkit-transform: rotate(120deg);

}

a{ transition: background 0.8s ease-in 0.3s,
	color 0.6s ease-out 0.3s;}
/*动画*/
@keyframes wobble {
  0% {
    margin-left: 100px;
    background:green;
  }
  40% {
    margin-left:150px;
    background:orange;
  }
  60% {
    margin-left: 75px;
    background: blue;
  }
  100% {
    margin-left: 100px;
    background: red;
  }
}
div {
  width: 100px;
  height: 100px;
  background:red;
  color: #fff;
}
div:hover{
  animation: wobble 5s ease .1s;
  -webkit-animation: name 5s ease-in 1s 1 normal fill-mode;
  -o-animation: name 2s ease 2s 2 alternate fill-mode;
  animation: name duration linear 3s infinite fill-mode;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;

  animation: name duration timing-function delay iteration-count direction fill-mode;


}