a{
  -webkit-columns: 200px 2;
  -moz-columns: 200px 2;
  -o-columns: 200px 2;
  columns: 200px 2;/*列宽width 列数count*/
  column-gap: 1em;/*default*/
  column-rule: 2px dotted green;/*width style color*/
  column-span:all;/*标题横跨度*/

}

.flexcontainer{
  /*创建flex容器*/
  display: -webkit-flex;
  display: flex;
  /*排列方向，默认水平row*/
  flex-direction: column;
  /*将flex项目移动到顶部*/
  align-items: flex-start;
  /*垂直的方向通过align-items设置*/


  /*水平的方向通过justify-content设置*/
  justify-content: flex-start;
  flex-direction: row;


}
/*自动伸缩*/
.bigitem{ -webkit-flex:200; flex:200; }  
.smallitem{ -webkit-flex:100; flex:100; }



/*响应式布局*/


































