.oll{
	/*圆角：左上顺时针*/
	border-radius: 10px;

	/*box-shadow: X轴偏移量 Y轴偏移量 
	[阴影模糊半径] [阴影扩展半径] [阴影颜色] [投影方式];*/
	box-shadow: 4px 2px 6px #333;
	box-shadow: 4px 2px 6px #333 inset;/*内阴影（默认外部）*/
	box-shadow:4px 2px 6px #f00, -4px -2px 6px #000, 
			   0px 0px 12px 5px #33CC00 inset; /*多个阴影*/

	border-image: url() 70px repeat;
	/*线性渐变*/
	border-image: linear-gradient(to left,red,green);
	/*溢出问题显示省略号*/
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-shadow: 0 1px 1px #333;

}
/*加载 嵌入服务器端字体*/
@font-face{
	font-family: "my font";
	src:("");
}

.p{
	/*背景图片的原始起始位置*/
	background-repeat:no-repeat;
	background-origin: content-box;
	/*规定背景的绘制区域 padding-box margin-box*/
	background-clip: content-box;
	/*背景图片的大小 宽高，%，cover， contain*/
	background-size: auto;
	background: url(http://static.mukewang.com/static/img/logo_index.png) no-repeat 0 0 / 75% 55%, 
    url(http://static.mukewang.com/static/img/logo_index.png) no-repeat right bottom / 50% 40%;
}
.oll_background{
	background: ;
}

.oll>ul{
	/* .class>标签   class中的标签  仅子元素一项有效果 */
}

.oll ul {
	/*子后代所有项 有效果*/
}

h1,p {
	/*两个标签*/
}

#p1{
	/*斜体 异体 加粗 字号/行高 font-family*/
	font: italic small-caps bold 20px/30px arial;
	color: #999;
	text-decoration: underline;
	text-decoration: line-through;/*删除线*/
	text-indent: 50px;/*缩进*/
	letter-spacing: 2px;
	word-spacing: 3px;
	text-align: center;
	border: 2px solid #333;
	/*中文简写*/
	font:12px/1.5em  "宋体",sans-serif;


}

.p2{
	float: left;/*块级元素并列显示*/
	position: absolute;/*层模型*/

	/*水平居中-行内元素*/
	text-align: center;/*设置父级元素*/

	/*水平居中设置-定宽块状元素*/
	width: 200px;
	margin: 20px auto;
}

table{
	/*水平居中设置-不定宽块状元素*/
	margin: 20px auto;/*装在table里面*/
}
.ex{
	/*水平居中设置-不定宽块状元素*/
	text-align: center;/*父级设置*/
	display: inline;
}
	/*水平居中设置-不定宽块状元素*/
.ex1{
	/*水平居中设置-不定宽块状元素*/
	float: left;
	position: relative;
	left: 50%;
	/*以上设置父元素*/
	/*以下设置对齐项*/
	position: relative;
	left: -50%;
}


li{
	/*垂直居中-父元素高度确定的单行文本*/
	height: 100px;
	line-height: 100px;

	/*垂直居中-父元素高度确定的多行文本
	放置在table tbody tr td 中  */


	position: absolute;
	float: left;
	/*自动转换到inline-block*/
}
a:link{

}
a:visited{

}
a:hover{

}
a:active{

}
::selection{
	/*选取部分元素样式*/
	color: #333;
}
:not(p){

}
a[href^="http"]{

}
a[src$=".pdf"]{

}
a[src*="abc"]{

}

p not([id="title"]){

}

p:empty{
	border: 1px solid #333;
}


ol>li:first-child{

}
.class p:last-child{

}

ol>li:nth-child(2n){

}
ol>li:nth-last-child(5){

}
.name>p:first-of-type{

}
.wrapper>p:nth-of-type(2n){

}
.name>p:last-of-type{

}
.wrapper > p:nth-last-of-type(3){

}

.post p:only-child {
	background: #333;
}
.wrapper > div:only-of-type {
  background: orange;
}
input[type="text"]:enabled {
  background: #ccc;
  border: 2px solid red;
}
input[type="text"]:disabled{

}
input[type="checkbox"]:checked + span {
  opacity: 1;
}
input[type="text"]:read-only{
  border-color: #ccc;/*html标签设置了 readonly=“readonly” */
}
input[type="text"]:read-write{
	
}














	
